html {
    zoom: 85%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 1330px;
}

h1 {
    text-align: center;
    font-family: Monospace;
}

h2 {
    font-family: Monospace;
}

h3 {
    font-family: Monospace;
}

h4 {
    font-family: Monospace;
}


p {
    font-family: Monospace;
}

#advert {
    display: none;
}

#advert2 {
    display: none;
    padding-top: 50px;
}

#advert3 {
    padding-top: 100px;
    display: none;
}

.WebContainer {
    width: 100%;
    min-width: 1000px;
    height: auto;
}

.main {
    margin: auto;
    width: 950px;
}

.header {
    padding: 1px;
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
}

.sidebar_ad {
    height: 100%;
    width: 180px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 150px;
    background-color: white;
}

body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
